In [1]:
%pylab inline
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

Vendor:  Continuum Analytics, Inc.
Package: mkl
Message: trial mode expires in 30 days

In [87]:
df = pd.read_csv('/home/nick/Desktop/CO_dataset/db.csv')
df = df.drop('runID',1).set_index(df.runID)
df[df.subject == 'CO']

,date,subject,expID,working_vol,brain_mask,sessionID,runType,design matrix,frame_file,run_data_file,...,vox_x,vox_y,vox_z,run_code_path,run_code_file,design_matrix_path,frame_file_path,pic_path,siemensRef,padVol
runID,,,,,,,,,,,,,,,,,,,,,
142,10/13/2011,CO,lotusHill.7T.em9K.1.5iso,/home/nick/Desktop/CO_dataset/lotusHill.7T.em9...,/home/nick/Desktop/CO_dataset/lotusHill.7T.em9...,11,trn,onoffTrn.mat,trn001.txt,1_004_eja_ep2d_bold_1_5mm_2000TR_FH_20111013,...,1.5,1.5,1.5,/Data/7T.cmrr/Presentation/buffermovie02082010,Oct.13.2011.7T.CA.py,/Data/7T.cmrr/Presentation/Oct2011,/Data/7T.cmrr/Presentation/Oct2011,/Data/7T.cmrr/Presentation/pictures,1,0
143,10/13/2011,CO,lotusHill.7T.em9K.1.5iso,/home/nick/Desktop/CO_dataset/lotusHill.7T.em9...,/home/nick/Desktop/CO_dataset/lotusHill.7T.em9...,11,trn,onoffTrn.mat,trn002.txt,1_005_eja_ep2d_bold_1_5mm_2000TR_FH_20111013,...,1.5,1.5,1.5,/Data/7T.cmrr/Presentation/buffermovie02082010,Oct.13.2011.7T.CA.py,/Data/7T.cmrr/Presentation/Oct2011,/Data/7T.cmrr/Presentation/Oct2011,/Data/7T.cmrr/Presentation/pictures,1,0
144,10/13/2011,CO,lotusHill.7T.em9K.1.5iso,/home/nick/Desktop/CO_dataset/lotusHill.7T.em9...,/home/nick/Desktop/CO_dataset/lotusHill.7T.em9...,11,trn,onoffTrn.mat,trn003.txt,1_006_eja_ep2d_bold_1_5mm_2000TR_FH_20111013,...,1.5,1.5,1.5,/Data/7T.cmrr/Presentation/buffermovie02082010,Oct.13.2011.7T.CA.py,/Data/7T.cmrr/Presentation/Oct2011,/Data/7T.cmrr/Presentation/Oct2011,/Data/7T.cmrr/Presentation/pictures,1,0
145,10/13/2011,CO,lotusHill.7T.em9K.1.5iso,/home/nick/Desktop/CO_dataset/lotusHill.7T.em9...,/home/nick/Desktop/CO_dataset/lotusHill.7T.em9...,11,val,onoffVal.mat,val001.txt,1_007_eja_ep2d_bold_1_5mm_2000TR_FH_20111013,...,1.5,1.5,1.5,/Data/7T.cmrr/Presentation/buffermovie02082010,Oct.13.2011.7T.CA.py,/Data/7T.cmrr/Presentation/Oct2011,/Data/7T.cmrr/Presentation/Oct2011,/Data/7T.cmrr/Presentation/pictures,1,0
146,10/13/2011,CO,lotusHill.7T.em9K.1.5iso,/home/nick/Desktop/CO_dataset/lotusHill.7T.em9...,/home/nick/Desktop/CO_dataset/lotusHill.7T.em9...,11,imgVal,onoffImg.mat,imgVal.txt,1_008_eja_ep2d_bold_1_5mm_2000TR_FH_20111013,...,1.5,1.5,1.5,/Data/7T.cmrr/Presentation/buffermovie02082010,Oct.13.2011.7T.CA.py,/Data/7T.cmrr/Presentation/Oct2011,/Data/7T.cmrr/Presentation/Oct2011,/Data/7T.cmrr/Presentation/pictures,1,0
147,10/13/2011,CO,lotusHill.7T.em9K.1.5iso,/home/nick/Desktop/CO_dataset/lotusHill.7T.em9...,/home/nick/Desktop/CO_dataset/lotusHill.7T.em9...,11,img,onoffImg.mat,img.txt,1_009_eja_ep2d_bold_1_5mm_2000TR_FH_20111013,...,1.5,1.5,1.5,/Data/7T.cmrr/Presentation/buffermovie02082010,Oct.13.2011.7T.CA.py,/Data/7T.cmrr/Presentation/Oct2011,/Data/7T.cmrr/Presentation/Oct2011,/Data/7T.cmrr/Presentation/pictures,1,0
148,10/13/2011,CO,lotusHill.7T.em9K.1.5iso,/home/nick/Desktop/CO_dataset/lotusHill.7T.em9...,/home/nick/Desktop/CO_dataset/lotusHill.7T.em9...,11,val,onoffVal.mat,val002.txt,1_010_eja_ep2d_bold_1_5mm_2000TR_FH_20111013,...,1.5,1.5,1.5,/Data/7T.cmrr/Presentation/buffermovie02082010,Oct.13.2011.7T.CA.py,/Data/7T.cmrr/Presentation/Oct2011,/Data/7T.cmrr/Presentation/Oct2011,/Data/7T.cmrr/Presentation/pictures,1,0
149,10/13/2011,CO,lotusHill.7T.em9K.1.5iso,/home/nick/Desktop/CO_dataset/lotusHill.7T.em9...,/home/nick/Desktop/CO_dataset/lotusHill.7T.em9...,11,trn,onoffTrn.mat,trn004.txt,1_011_eja_ep2d_bold_1_5mm_2000TR_FH_20111013,...,1.5,1.5,1.5,/Data/7T.cmrr/Presentation/buffermovie02082010,Oct.13.2011.7T.CA.py,/Data/7T.cmrr/Presentation/Oct2011,/Data/7T.cmrr/Presentation/Oct2011,/Data/7T.cmrr/Presentation/pictures,1,0
150,10/13/2011,CO,lotusHill.7T.em9K.1.5iso,/home/nick/Desktop/CO_dataset/lotusHill.7T.em9...,/home/nick/Desktop/CO_dataset/lotusHill.7T.em9...,11,trn,onoffTrn.mat,trn005.txt,1_012_eja_ep2d_bold_1_5mm_2000TR_FH_20111013,...,1.5,1.5,1.5,/Data/7T.cmrr/Presentation/buffermovie02082010,Oct.13.2011.7T.CA.py,/Data/7T.cmrr/Presentation/Oct2011,/Data/7T.cmrr/Presentation/Oct2011,/Data/7T.cmrr/Presentation/pictures,1,0
151,10/13/2011,CO,lotusHill.7T.em9K.1.5iso,/home/nick/Desktop/CO_dataset/lotusHill.7T.em9...,/home/nick/Desktop/CO_dataset/lotusHill.7T.em9...,11,trn,onoffTrn.mat,trn006.txt,1_013_eja_ep2d_bold_1_5mm_2000TR_FH_20111013,...,1.5,1.5,1.5,/Data/7T.cmrr/Presentation/buffermovie02082010,Oct.13.2011.7T.CA.py,/Data/7T.cmrr/Presentation/Oct2011,/Data/7T.cmrr/Presentation/Oct2011,/Data/7T.cmrr/Presentation/pictures,1,0
152,10/13/2011,CO,lotusHill.7T.em9K.1.5iso,/home/nick/Desktop/CO_dataset/lotusHill.7T.em9...,/home/nick/Desktop/CO_dataset/lotusHill.7T.em9...,11,val,onoffVal.mat,val003.txt,1_014_eja_ep2d_bold_1_5mm_2000TR_FH_20111013,...,1.5,1.5,1.5,/Data/7T.cmrr/Presentation/buffermovie02082010,Oct.13.2011.7T.CA.py,/Data/7T.cmrr/Presentation/Oct2011,/Data/7T.cmrr/Presentation/Oct2011,/Data/7T.cmrr/Presentation/pictures,1,0

In [27]:
tt = lambda x: x * 2
low = lambda x : x.lower()

df.vox_x = tt(df.vox_x)
df.subject = df.subject.apply(low)
df[df.runID > 145]

    runID subject runType  vox_x  vox_y
9     146      co  imgVal     96    1.5
10    147      co     img     96    1.5
11    148      co     val     96    1.5
12    149      co     trn     96    1.5
13    150      co     trn     96    1.5
14    151      co     trn     96    1.5
15    152      co     val     96    1.5

In [29]:
df

    runID subject runType  vox_x  vox_y
5     142      co     trn     96    1.5
6     143      co     trn     96    1.5
7     144      co     trn     96    1.5
8     145      co     val     96    1.5
9     146      co  imgVal     96    1.5
10    147      co     img     96    1.5
11    148      co     val     96    1.5
12    149      co     trn     96    1.5
13    150      co     trn     96    1.5
14    151      co     trn     96    1.5
15    152      co     val     96    1.5

In [54]:
df.iloc[2]
r = df.runType[df.runID == 146]
print r

9    imgVal
Name: runType, dtype: object

In [100]:
df = pd.DataFrame(data=[[1,2,3],['blue','purple','green'],['pep','sausage','onions']],index=['numbers','colors','toppings']).T
df

  numbers  colors toppings
0       1    blue      pep
1       2  purple  sausage
2       3   green   onions

In [102]:

df.ix[df.colors == 'blue', 'toppings'] = 'cheese'
df

  numbers  colors toppings
0       1    blue   cheese
1       2  purple  sausage
2       3   green   onions

In [104]:
df.ix[df.colors =='green', ['numbers','toppings']] = 'pasta'
df

  numbers  colors toppings
0       1    blue   cheese
1       2  purple  sausage
2   pasta   green    pasta